In [0]:
# importing pyspark
from pyspark.sql.window import Window
import pyspark

# importing sparksessio
from pyspark.sql import SparkSession

# creating a sparksession object and providing appName
# spark = SparkSession.builder.appName("pyspark_window").getOrCreate()

# sample data for dataframe
sampleData = ((101, "Ram", "Biology", 80),
			(103, "Meena", "Social Science", 78),
			(104, "Robin", "Sanskrit", 58),
			(102, "Kunal", "Phisycs", 89),
			(101, "Ram", "Biology", 80),
			(106, "Srishti", "Maths", 70),
			(108, "Jeny", "Physics", 75),
			(107, "Hitesh", "Maths", 88),
			(109, "Kailash", "Maths", 90),
			(105, "Sharad", "Social Science", 84)
			)

# column names for dataframe
columns = ["Roll_No", "Student_Name", "Subject", "Marks"]

# creating the dataframe df
df2 = spark.createDataFrame(data=sampleData,
							schema=columns)

# importing window from pyspark.sql.window

# creating a window partition of dataframe
windowPartition = Window.partitionBy("Subject").orderBy("Marks")

# print schema
df2.printSchema()

# show df
df2.show()

root
 |-- Roll_No: long (nullable = true)
 |-- Student_Name: string (nullable = true)
 |-- Subject: string (nullable = true)
 |-- Marks: long (nullable = true)

+-------+------------+--------------+-----+
|Roll_No|Student_Name|       Subject|Marks|
+-------+------------+--------------+-----+
|    101|         Ram|       Biology|   80|
|    103|       Meena|Social Science|   78|
|    104|       Robin|      Sanskrit|   58|
|    102|       Kunal|       Phisycs|   89|
|    101|         Ram|       Biology|   80|
|    106|     Srishti|         Maths|   70|
|    108|        Jeny|       Physics|   75|
|    107|      Hitesh|         Maths|   88|
|    109|     Kailash|         Maths|   90|
|    105|      Sharad|Social Science|   84|
+-------+------------+--------------+-----+

In [0]:
# importing row_number() from pyspark.sql.functions
from pyspark.sql.functions import row_number

# applying the row_number() function
df2.withColumn("row_number",
			row_number().over(windowPartition)).show()

+-------+------------+--------------+-----+----------+
|Roll_No|Student_Name|       Subject|Marks|row_number|
+-------+------------+--------------+-----+----------+
|    101|         Ram|       Biology|   80|         1|
|    101|         Ram|       Biology|   80|         2|
|    106|     Srishti|         Maths|   70|         1|
|    107|      Hitesh|         Maths|   88|         2|
|    109|     Kailash|         Maths|   90|         3|
|    102|       Kunal|       Phisycs|   89|         1|
|    108|        Jeny|       Physics|   75|         1|
|    104|       Robin|      Sanskrit|   58|         1|
|    103|       Meena|Social Science|   78|         1|
|    105|      Sharad|Social Science|   84|         2|
+-------+------------+--------------+-----+----------+

In [0]:
# importing row_number() from pyspark.sql.functions
from pyspark.sql.functions import row_number,rank,dense_rank,desc
from pyspark.sql.window import Window

# applying the row_number() function
# df2.withColumn("row_number",
# 			row_number().over(windowPartition)).show()


df2.withColumn("rank",rank().over(Window.partitionBy("Subject").orderBy(desc("Marks")))).show()

+-------+------------+--------------+-----+----+
|Roll_No|Student_Name|       Subject|Marks|rank|
+-------+------------+--------------+-----+----+
|    101|         Ram|       Biology|   80|   1|
|    101|         Ram|       Biology|   80|   1|
|    109|     Kailash|         Maths|   90|   1|
|    107|      Hitesh|         Maths|   88|   2|
|    106|     Srishti|         Maths|   70|   3|
|    102|       Kunal|       Phisycs|   89|   1|
|    108|        Jeny|       Physics|   75|   1|
|    104|       Robin|      Sanskrit|   58|   1|
|    105|      Sharad|Social Science|   84|   1|
|    103|       Meena|Social Science|   78|   2|
+-------+------------+--------------+-----+----+

In [0]:
df2.withColumn("dense_rank",dense_rank().over(Window.partitionBy("Subject").orderBy(desc("Marks")))).show()

+-------+------------+--------------+-----+----------+
|Roll_No|Student_Name|       Subject|Marks|dense_rank|
+-------+------------+--------------+-----+----------+
|    101|         Ram|       Biology|   80|         1|
|    101|         Ram|       Biology|   80|         1|
|    109|     Kailash|         Maths|   90|         1|
|    107|      Hitesh|         Maths|   88|         2|
|    106|     Srishti|         Maths|   70|         3|
|    102|       Kunal|       Phisycs|   89|         1|
|    108|        Jeny|       Physics|   75|         1|
|    104|       Robin|      Sanskrit|   58|         1|
|    105|      Sharad|Social Science|   84|         1|
|    103|       Meena|Social Science|   78|         2|
+-------+------------+--------------+-----+----------+

In [0]:
df2.withColumn("row_num",row_number().over(Window.partitionBy("Subject").orderBy(desc("Marks")))).show()

+-------+------------+--------------+-----+-------+
|Roll_No|Student_Name|       Subject|Marks|row_num|
+-------+------------+--------------+-----+-------+
|    101|         Ram|       Biology|   80|      1|
|    101|         Ram|       Biology|   80|      2|
|    109|     Kailash|         Maths|   90|      1|
|    107|      Hitesh|         Maths|   88|      2|
|    106|     Srishti|         Maths|   70|      3|
|    102|       Kunal|       Phisycs|   89|      1|
|    108|        Jeny|       Physics|   75|      1|
|    104|       Robin|      Sanskrit|   58|      1|
|    105|      Sharad|Social Science|   84|      1|
|    103|       Meena|Social Science|   78|      2|
+-------+------------+--------------+-----+-------+

In [0]:
from pyspark.sql.functions import col,avg,sum,min,max,row_number
df2.withColumn("Avg",avg(col("Marks")).over(Window.partitionBy("Roll_No","Subject"))).withColumn("Sum",sum("Marks").over(Window.partitionBy("Roll_No"))).show()

+-------+------------+--------------+-----+----+---+
|Roll_No|Student_Name|       Subject|Marks| Avg|Sum|
+-------+------------+--------------+-----+----+---+
|    101|         Ram|       Biology|   80|80.0|160|
|    101|         Ram|       Biology|   80|80.0|160|
|    102|       Kunal|       Phisycs|   89|89.0| 89|
|    103|       Meena|Social Science|   78|78.0| 78|
|    104|       Robin|      Sanskrit|   58|58.0| 58|
|    105|      Sharad|Social Science|   84|84.0| 84|
|    106|     Srishti|         Maths|   70|70.0| 70|
|    107|      Hitesh|         Maths|   88|88.0| 88|
|    108|        Jeny|       Physics|   75|75.0| 75|
|    109|     Kailash|         Maths|   90|90.0| 90|
+-------+------------+--------------+-----+----+---+

In [0]:
df2.groupBy("Roll_No").agg(avg("Marks")).show()
# df.show()

+-------+----------+
|Roll_No|avg(Marks)|
+-------+----------+
|    101|      80.0|
|    103|      78.0|
|    104|      58.0|
|    102|      89.0|
|    106|      70.0|
|    108|      75.0|
|    107|      88.0|
|    105|      84.0|
|    109|      90.0|
+-------+----------+